- if resource.rows > 0
  %table.table.requests
    %thead
      %tr
        %th{data: {type: 'numeric'}} ID
        %th Method
        %th URI
        %th Started
        %th Status
        %th{data: {type: 'numeric'}} Lasted
        %th
    %tbody
      - resource.each do |request|
        != haml :'request/_request', locals: {request: request}
- else
  %img{src: '/img/sad-cat.jpg'}
  .empty
    I EATD TEH LOGS, GO FETCH MOAR
