%table.table.requests
  %thead
    %tr
      %th ID
      %th Method
      %th URI
      %th Started
      %th Status
      %th Lasted
      %th
  %tbody#stream
    %tr.message.em
      %td{colspan: 7}
        %center Nothing's happened yet.

- content :after do
  %script{type: 'text/javascript', src: '/js/stream.js'}
