%table.table.requests
  %thead
    %tr
      %th ID
      %th Method
      %th URI
      %th Started
      %th Status
      %th Size
      %th Content Type
      %th Lasted
      %th
  %tbody#stream
    %tr.message.em
      %td{colspan: 7}
        %center It's all very quiet at the moment, hit the internets via chuck for some action.

- content :after do
  %script{type: 'text/javascript', src: '/js/stream.js'}
