%table.table.requests
  %thead
    %th ID
    %th Method
    %th URI
    %th Started
    %th Status
    %th Lasted
    %th
  %tbody#stream

%script{type: 'text/javascript', src: '/js/jquery.min.js'}
%script{type: 'text/javascript', src: '/js/chuck.js'}
